<!DOCTYPE html>
<html ng-app="visApp">

<head>
    <meta charset='utf-8' />
    <link href="style/site.css" rel="stylesheet" />
    <link href="style/site.css" rel="stylesheet" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
</head>

<body>
    <div ng-controller="ytAuthCtrl">
        <button ng-click="authorize()">Authorize</button>
        <button ng-click="getUsersSubscriptions()">Get Subscriptions</button>
        <button ng-click="getChannelsBrandingSettings(subscriptions)">GetBrandingSettings</button>
    </div>
    
    <div ng-controller="ytSearchCtrl">
        <button ng-click="searchChannels()">searchChannels</button>
        <ul>
            <li ng-repeat="searchResult in searchResults">
                
            </li>
        </ul>
    </div>
    
    <div ng-controller="ytGraphCtrl">
        <button ng-click="addNode()">addNode</button>
        <button ng-click="getChannelData()">addNode</button>
        <button ng-click="getChannelCategory()">addNode</button>
        <button ng-click="startGetData()">addNode</button>
        <button ng-click="actuallyGetGetInitialData()">actuallyGetGetInitialData</button>
        <vis-network data="data" options="options" events="events" height="100%"></vis-network>
    </div>

    

    <!--Dependencies-->
    <!--Vis.js-->
    <script src="lib/vis.min.js"></script>
    <!--Angular-->
    <script src="lib/angular.js"></script>
    <script src="lib/angular-vis.js"></script>
    <script src="lib/angular-google-gapi.min.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <!--App-->
    <script src="app/app.js"></script>
    
    <script src="app/controllers/ytSearchCtrl.js"></script>
    
    <script src="app/controllers/ytAuthCtrl.js"></script>
    <script src="app/controllers/ytGraphCtrl.js"></script>
    <script src="app/services/ytDataService.js"></script>
    <script src="app/services/ytMapDataService.js"></script>
</body>

</html>